# licenserecon
#
# This file lists files and directories to be excluded from checking,
# to avoid false positives.
#
# These files often contain licenses for other files.
#  (File foo also treated as foo.*)
doc/source/license.sgml
doc/webserver/man-page/privoxy-man-page.html
doc/webserver/announce.txt
privoxy.8
ChangeLog
